/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #1f2937;
}

/* TEXT */
h1, h2, h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}
